@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@700&family=Kanit:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@300&family=Kanit:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@700&family=Kanit:wght@200&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,300&family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@300&family=Kanit:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@700&family=Kanit:wght@200;400;500&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,300&family=Prompt&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@500&family=Inria+Sans:wght@700&family=Kanit:wght@200;400;500&family=Nunito+Sans:opsz,wght@6..12,300&family=Playfair+Display:ital,wght@1,500&family=Prompt&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@500&family=Inria+Sans:wght@700&family=Kanit:wght@200;400;500&family=Nunito+Sans:opsz,wght@6..12,300&family=Playfair+Display:wght@500&family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@500&family=Inria+Sans:wght@700&family=Kanit:wght@200;400;500&family=Nunito+Sans:opsz,wght@6..12,300&family=Playfair+Display:wght@500&family=Prompt&family=Roboto+Slab&display=swap");

@media (max-width: 1980px) {
  /* ----------about-------------- */
  .detailabout{
   text-align:left;
   display: flex;
   align-items: center;
   text-align:justify;
   font-size:25px
  }
.buttonlog{
  width:30%;
  margin-left:31%;
  margin-top:30px;
  font-family: "Roboto Slab";
  font-weight:bold;
  border-color:black;
}
  .counter {
  text-align: center;
  margin-top: 20px;
}

.counter-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.incrementBtn,
.decrementBtn {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.incrementBtn {
  background-color: #4578ca;
  color: white;
}

.decrementBtn {
  background-color: #7d8185;
  color: white;
}

input {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

.bgblur {
  background: rgba(217, 217, 217, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 50px;
}
.fontreturn{
  font-size:35px;
}
.App {
  text-align: center;
}
.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

#fontnav {
  font-family: "Agbalumo";
  font-size: 25px;
  font-weight: "bold";
  color: white;
}
.fontnav {
  font-family: "Agbalumo";
  font-size: 25px;
  font-weight: "bold";
  color: aliceblue;
  text-decoration: none;
}
h1,
p {
  font-family: "Roboto Slab";
}
Form {
  font-family: "Roboto Slab";
  font-weight: bold;
  color: white;
  /* text-align: left; */
}
h3 {
  font-family: "Roboto Slab";
  color: white;
  font-size: 32px;
  font-weight: bold;
}
h2 {
  font-family: "Inria Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
h4 {
  font-family: "Inria Sans", sans-serif;
  font-size: 18px;
}
h5 {
 
font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 43px;

color: #FFFFFF;

text-shadow: 2px 4px 4px #000000;

}

/* Rectangle 16 */
.imgall {
  width: 350px;
  height: 200px;
  margin-top: 30px;
}
.fonthead {
  color: #063d8c;
  font-weight: bold;
  padding-top: 10px;
  font-size: 35px;
  margin-bottom: 20px;
  font-family: "Roboto Slab";
}
.fontheader {
  color: #030303;
  font-weight: bold;
  padding-top: 10px;
  font-size: 35px;
  margin-bottom: 20px;
  font-family: "Roboto Slab";
}
.bgoneday {
  margin-top: 30px;
  background-color: #4691d3;
  padding: 20px;
}
.detail1day {
  position: absolute;
  width: 400px;
  height: 515px;
  background: #fffaec;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 100px;
  padding: 100px 20px 20px 20px;
}
.fillter {
  background: #fffaec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.head1day {
  position: absolute;
  width: 400px;
  height: 80px;
  z-index: 1;
  background: #05439b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  padding-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bg {
  background-color: #fcfcfe;
}
.button {
  background-color: #0579d8;
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.button2 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.link {
  color: white;
}
.link:hover {
  color: rgb(178, 170, 111);
}
.cardgrand {
  background-color: white;
  width: 60%;
  margin-left: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.tab {
  text-decoration-color: none;
  color: white;
  background-color: #063d8c;
  width: 60%;
  margin-left: 20%;
  border-radius: 5px;
}
/* -------------------------calendar---------------------------------- */
.pictop {
  /* background-color: pink; */
  width: 330px;
  height: 255px;
  float: left;
  margin-top: 20px;
}
.picdown {
  /* background-color: rgb(163, 0, 27); */
  width: 330px;
  height: 255px;
  float: right;
  margin-top: 20px;
}
.picright {
  background-color: black;
  width: 630px;
  height: 525px;
  float: left;
  margin-top: 20px;
}
.book{
  float: left;
  box-shadow:  0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
  background-color: white;
  padding: 30px 90px 30px 95px;
  margin-bottom:25px;
}
.input{
  width: 230px;
}

.alertt{
  width:80%;
  margin:0 auto;
  z-index: 100;
}
.confirm{
  width: 300px;
  height: 300px;
  background-color: #05439b;
  float: left;
}
}
/* @media (prefers-reduced-motion: no-preference) { */
  @media (max-width: 1600px) {
     /* ----------about-------------- */
  .detailabout{
    text-align:left;
    display: flex;
    align-items: center;
    text-align:justify;
    font-size:20px
   }
 .input{
  max-width: 230px;
}
 .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }


.picdown {
  margin-top: 20px;
}
.book{
  float: left;
  box-shadow:  0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  background-color: white;
  padding: 30px 90px 30px 95px;
  margin-bottom:25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.menu1 {
  width: 25rem;
  height: 220px;
  /* margin-left: 300px; */
  float: left;
  /* margin-left: 60px; */
  cursor: pointer;
  overflow: hidden;
}
.menu1:hover {
  box-shadow: 0px 0px 50px -5px rgb(13, 14, 14);
  transition: 0.3s;
}
h5 {
  color: aliceblue;
  text-shadow: 2px 3px 2px rgb(14, 13, 14);
  font-size: 30px;
  font-weight: bold;
}

.contact :hover {
  /* text-shadow: 2px 3px 2px rgb(213, 209, 213); */
  box-shadow: 2px 3px 2px rgb(213, 209, 213);
}
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

