@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@700&family=Kanit:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&family=Prompt&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@300&family=Kanit:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&family=Prompt&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@700&family=Kanit:wght@200&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,300&family=Prompt&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@300&family=Kanit:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@700&family=Kanit:wght@200;400;500&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,300&family=Prompt&display=swap');
  /* @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@500&family=Inria+Sans:wght@700&family=Kanit:wght@200;400;500&family=Nunito+Sans:opsz,wght@6..12,300&family=Playfair+Display:ital,wght@1,500&family=Prompt&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@500&family=Inria+Sans:wght@700&family=Kanit:wght@200;400;500&family=Nunito+Sans:opsz,wght@6..12,300&family=Playfair+Display:wght@500&family=Prompt&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@500&family=Inria+Sans:wght@700&family=Kanit:wght@200;400;500&family=Nunito+Sans:opsz,wght@6..12,300&family=Playfair+Display:wght@500&family=Prompt&family=Roboto+Slab&display=swap');

  .bgblur{
background: rgba(217, 217, 217, 0.1);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 92px;

  }
.bgsign{

background: linear-gradient(180deg, #5D23A6 0%, #566BBC 51.56%, #5ED2DF 93.23%);
padding-bottom: 5%;
padding-left: 30%;

}  .App {
  text-align: center;
}
.wrapper {
  max-width: 100%;
}

#fontnav{
  font-family:"Agbalumo";
  font-size: 25px;
  font-weight:'bold';
}
.fontnav{
  font-family:"Agbalumo";
  font-size: 25px;
  font-weight:'bold';
  color: aliceblue;
}
h1,
p {
  font-family: 'Roboto Slab';
}
Form{
  font-family: 'Roboto Slab';
  font-weight: bold;
  color: white;
  /* text-align: left; */
}
h3 {
  font-family: 'Roboto Slab';
  color: white;
  font-size: 32px;
  font-weight: bold;
}
h2{
  font-family: 'Inria Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
h4{
  font-family: 'Inria Sans', sans-serif;
  font-size: 18px;
}
/* Rectangle 16 */
.imgall{

width: 350px;
height: 200px;

margin-top: 30px;

}
.fonthead{
  color:#063d8c;
  font-weight:bold;
  padding-top:10px;
  font-size:35px;
  margin-bottom:20px;
  font-family: 'Roboto Slab'}
.bgoneday{
  margin-top:30px;
   background-color:#4691d3; 
   padding:20px;}
.detail1day{
position: absolute;
width: 400px;
height: 515px;
background: #FFFAEC;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-top: 100px;
padding: 100px 20px 20px 20px;
}
.fillter{

background: #FFFAEC;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.head1day{
position: absolute;
width: 400px;
height: 80px;
z-index: 1;
background: #05439B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2px);
padding-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bg {
  background-color: #b5b5b9;
}
.button {
  background-color: #0579d8;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
    font-weight: bold;

}

.button2 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
    font-weight: bold;

}

.link {
  color: white;
}
.link:hover {
  color: rgb(178, 170, 111);
}
.cardgrand {
  background-color: white;
  width: 60%;
  margin-left: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.tab {
  text-decoration-color: none;
  color: white;
  background-color: #063d8c;
  width: 60%;
  margin-left: 20%;
  border-radius: 5px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.menu1 {
  width: 25rem;
  height: 220px;
  /* margin-left: 300px; */
  float: left;
  /* margin-left: 60px; */
  cursor: pointer;
  overflow: hidden;
}
.menu1:hover {
  box-shadow: 0px 0px 50px -5px rgb(13, 14, 14);
  transition: 0.3s;
}
h5 {
  color: aliceblue;
  text-shadow: 2px 3px 2px rgb(14, 13, 14);
  font-size: 30px;
font-weight: bold;
}

.contact :hover {
  /* text-shadow: 2px 3px 2px rgb(213, 209, 213); */
  box-shadow: 2px 3px 2px rgb(213, 209, 213);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.greenButton {
  background-color: rgb(0, 0, 0); 
  color: white; 
  padding: 10px 20px; 
  border-radius: 10px; 
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
  border: none; 
  cursor: pointer; 
  transition: all 0.3s ease;
}

.greenButton:hover {
  background-color: darkgreen;
}